{% extends "base.html" %}


{% load static %}

{% block content %}
<div class="max-w-xl mx-auto m-4 my-12">
    <form method="get" class="relative">
        <input type="text" placeholder="Ask me anything"
            class="w-full py-3 px-4 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 transition-all shadow-lg" />
        <button type="submit" class="absolute right-3 top-1/2 transform -translate-y-1/2">
            <img src="{% static 'images/search.png' %}" alt="Search"
                class="w-5 h-5 opacity-70 hover:opacity-100 transition" />
        </button>
    </form>
</div>

<hr>

<div class="text-xl m-8 tracking-wide">
    Explore sellers relevant to you
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {% for seller in sellers %}
    <div class="border p-4 rounded-lg shadow-lg">
        <center> <img src="{{ seller.logo.url }}" alt="{{ seller.name }}"
                class="w-32 h-32 object-contain {% if seller.under_verification %}grayscale{% endif %}"></center>
        <h2 class="text-xl font-semibold mt-2">{{ seller.name }}</h2>
        <p class="text-gray-700">{{ seller.description }}</p>
        {% if seller.under_verification %}
        <button class="px-4 py-2 mt-4 border-2 rounded-full bg-gray-100">Under Verification</button>
        {% else %}
        <button class="px-4 py-2 mt-4 border-2 rounded-full bg-indigo-600 text-white w-max">Enter Store</button>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% endblock %}